

.top-container{
   background-image:url(background-photo5.jpg);
   background-size:cover ;
   width: auto;
   height:800px;
   border-radius :5px;
   margin: 0 10px;
   border-color: #4b4b4b;
   box-shadow: 0 2px 4px ;
   
}
.top-letter{
   padding:1px 300px;
   font-size: large;
   color:  #3b3b3b;
   text-shadow: 1px 2px 3px #808080;
   font-weight: bold;
}

.info{
    height:auto;
    width: auto;   
    }
.info-box-1{
   height: 290px;
  
   margin: 80px 100px 0px 100px ;
   display: flex;
   background-image: url(vintage-grunge-paper-background_1048-10911.jpg);
   background-size: cover;
   border-radius: 5px;
   box-shadow: 0 2px 4px ;

      
}

.info-letter1{
   margin: 0 auto;
   text-align: center;
   font-size: x-large;
   text-shadow: 1px 2px 3px #808080;
   padding: 30px 20px;
  
}
.info-box-2{
   height: 350px;
   margin: 0px 10px;
   display: flex;
 
}

.info-letter2{
   text-align: center;
   margin: 0px auto;
   font-size: x-large;
   text-shadow: 1px 2px 3px #808080;
   padding-top: 100px;
   font-family: 'Courier New', Courier, monospace;
   
   
}
.info-letter3{
   margin: 40px auto;
   text-align: center;
   font-size: x-large;
   text-shadow: 1px 2px 3px #808080;
   padding-top: 10px;
   font-weight: bold;
}


.sign-container{
    display: flex;
    width: auto;
    margin-top: auto;
    margin-bottom: 100px;
    text-align: center;
    
     
}
.sign{
   margin: 50px;
   width: 50%;
   border-radius :8px;
   box-shadow: 0 2px 4px  #3b3b3b;
   padding: 30px;
   color:rgb(241, 239, 227);
  
}
.in {
   background-image: url(texture-1362879__480.jpg);
   
}
.up{
   background-image: url( compass-3408928__480.jpg);
   
}
