.search-container{
    margin:40px auto;
    padding:10px 30px;
    background-color:#dcd0c0;
    width:40%;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 2px 4px ;
    
}
input[type="search"] {
    width: 60%;
    height: 30px;
  }

.era{
    margin:20px;
}

.title{
    margin:10px;
}

.tweets{
    padding:  10px;
    display: flex;
    align-items:stretch;
    justify-content:space-around;
    flex-wrap: wrap;
    align-content: flex-start;
    width: auto;
   
    
   }
.tweet-container{
   width: 18%;
   border-radius :8px;
   box-shadow: 0 2px 4px ;
   text-align: center;
   margin: 10px;
   background-color: rgb(241, 241, 240);
   
}


.name{
    font-size: 1.2em;
    font-weight: bold;
    letter-spacing: 0.05em;
}



.tweet-check {
    display: flex;
    
}
.tweet-check p{
    margin: 10px auto;
}
.tweet-edit-delete {
    text-align: center;
}

