.tweet{
    margin: 20px;
    border: solid 3px whitesmoke;
    border-radius :8px;
    box-shadow: 0 2px 4px ;    
    background-color:rgb(223, 220, 213) ;
    width:1100px;
    text-align: center;
}

.comment-wrapper{
    margin: 50px;
}