.tweet-main{
    margin: auto;
    border: solid 3px whitesmoke;
    border-radius :8px;
    box-shadow: 0 2px 4px ;    
    background-color:rgb(223, 220, 213) ;
    width:1300px;
    text-align: center;
}
.tweet-form{
    text-align: center;
    
}
.button{
    margin: 50px ;
}

.tweet-form{
    margin: 100px;
}






