.name{
   font-weight: bold;
   font-size: x-large;
}
.my-tweets{
    display: flex;
}

.image{
    text-align: left;
}

.user-tweets{
    padding: 50px;
    border: solid 3px whitesmoke;
    
}
.favorite-tweets{
    padding: 50px;
    border: solid 3px whitesmoke;
}


    
 