.user-container{
    display: flex;
    margin: 100px auto;
}
.user-name{
    background-color: #dcd0c0;
    border-radius :3px;
    padding: 2px;
    margin: 10px;
    box-shadow: 0 2px 4px ;
    font-size:x-large ;
    font-weight: bold;
}
h1{
    margin: 50px;
}